# Testing
coverage/
test-results/
playwright-report/
.nyc_output

# Environment
.env
.env.local
.env.test

# Logs
*.log
logs/

# Dependencies
node_modules/

# Optional: IDE files
.vscode/
.idea/


# !/usr/bin/env sh
# . "$(dirname "$0")/husky.sh"
# npm run precommit:husky # && npm run test 

# .husky/
# ├── pre-commit         # Runs lint and tests
# ├── commit-msg         # Ensures commit messages follow rules